[train] #train parameters
epoch = 16
batch_size = 2

shuffle = True

reader_num = 0

optimizer = adam
learning_rate = 1e-3
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 2

shuffle = False

reader_num = 0

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = AbFormatter
train_data_path = data
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = AbFormatter
valid_data_path = data
valid_file_list = valid.json

test_dataset_type = JsonFromFiles
test_formatter_type = AbFormatter
test_data_path = data
test_file_list = test.json

max_bert_len = 512
max_lawformer_len = 3000

max_len = 512

max_cls_len = 200

[model] #model parameters
model_name = Transformer

hidden_size = 768
trans_layer = 6
n_heads = 8
dropout = 0.1

vocab = 21128

[output] #output parameters
output_time = 1
test_time = 1

max_sum_len = 1600

model_path = ./output/trained_model/Transformer
model_name = Transformer

tensorboard_path = ./output/tensorboard

accuracy_method = GetRouge
output_function = Rouge
output_value = summary, pre_summary

[distributed]
use = False
backend = nccl